@media (min-width: 1200px) {
    .container {
        max-width: 1250px !important;
    }

    a:focus, a:hover {
        color: #23527c;
        text-decoration: none !important;
    }

}

main {
    background-color: #fbfbff;
}