main {
    background-color: #fbfbff;
}

.post-detail {
    border: solid 1px #eee;
    background-color: #dfdfdf;
    max-height: 400px;
    overflow: hidden;
}

.post-content {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.post-detail .post-thumbnail {
    height: 100px;
    overflow: hidden;
}

.post-tilte {
    height: 30px;
    overflow: hidden;
}

.post-name-detail {
    font-weight: 700;
    font-size: 28px;
    display: block;
    line-height: 1.4;
    margin-bottom: 10px;
    text-decoration: none;
    color: #222;
    margin-top: 0;
}

.row .col-6 .post-detail-right {
    float: right;
}

.post-detail1 {
    padding-bottom: 30px;
}

.post-home-thumbnail {
    text-align: center;
}

.post1 {
    padding-bottom: 20px;
}

.post1-name {
    font-size: 20px;
    color: #000;
}

.postall-name a,
.postall-content a,
.post1-name a {
    color: #000;
    text-decoration: none;
}

.postall-content a {
    color: #000;
}

.postall-content,
.post1-content {
    font-size: 16px;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 25px;
    -webkit-line-clamp: 3;
    height: 75px;
     display: -webkit-box;
    -webkit-box-orient: vertical;
}

.post-alls {
    padding-bottom: 20px;
}

.postall-name {
    font-size: 18px;
}

.postall-name a {
    color: #000;
}

.row.post-alls {
    max-height: 170px;
    border-bottom: 1px solid #ebebeb;
    padding: 5px;
}

.sidebar-homepage .posts_list p {
    font-size: 16px;
}

.sidebar-homepage .posts_list a {
    font-size: 16px;
    color: #000;
}

.sidebar-homepage .sidebar-more a {
    font-size: 16px;
    color: #000;
}

ul.pagination {
    font-size: 18px;
}

.post1 .post-home-thumbnail img {
    vertical-align: middle;
    border-style: none;
    width: 100%;
}


.post-alls .postall-home-thumbnail img {
    object-fit: cover;
    width: 100%;
    border-radius: 4px;
    height: 136px!important;
}

.post-alls .postall-home-thumbnail {

    margin-right: 15px;
    margin-bottom: 0px;
}

.post-alls .col-5 {
    padding-right: 0 !important;
}

.post-alls .col-7 {
    padding-left: 0 !important;
    padding-right: 0 !important;    
}

.post-alls {
    padding-bottom: 20px !important;
    padding-top: 20px !important;
}

.sidebar-homepage {
    border: solid 1px;
    border-radius: 10px;
    padding: 10px;
}

.post-content-detail {
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
}

.post-category-detail {
    font-size: 18px;
}

.sidebar-homepage .posts_list a {
    text-decoration: none;
}

.post-home-thumbnail-detail img {
    width: 100%;
}

.nav-category .navbar-nav li a {
    text-decoration: none;
}

.nav-category .navbar-nav li {
    padding: 10px 10px;
}

.col-5 .postall-home-thumbnail img {
    height: 75%;
}

.d-flex.flex-nowrap.justify-content-between button i.fa.fa-search {
    float: right;
    padding: 6px 10px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.d-flex.flex-nowrap.justify-content-between button {
    float: right;
    padding: 6px 10px;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.d-flex.flex-nowrap.justify-content-between i,
.d-flex.flex-nowrap.justify-content-between form {
    padding-top: 25px;
}

.d-flex.flex-nowrap.justify-content-between .dropdown {
    padding-right: 45px;
    padding-top: 25px;
}


