
.form-register {
    text-align: center;
    padding-top: 50px;
    width: 50%;
    margin: auto;
}

.mt-1, .my-1 {
    margin-top: 0.25rem!important;
    width: 50%;
    border: solid 1px;
    border-radius: 10px;
    height: 40px;
}

input[type=text],
input[type=email],
input[type=password],
input[type=confirm-password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
}

.form-register button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.form-register button {
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    margin: 0 10px;
    width: 400px;
    padding: 10px 0;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
    transition: 0.4s;

  }
  

  
  .form-register button:hover {
    color: white;
    width: 500px;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
    background-color: rgba(104, 85, 224, 1);
  }
  
  