@media only screen and (max-width: 991px) and (min-width: 768px) {

}



/* If the screen size is 600px wide or less, hide the element */
@media only screen and (max-width: 600px) {
    
}



@media (min-width: 1000px) {
    .header-inner {
        padding: 4px 0;
    }
}


@media (min-width: 700px) {
    .site-logo img {
        max-height: 40px;
    }
    
    .header-inner {
        /* padding: 1.8rem 0; */
    }
}


@media (max-width: 767px) {

    .d-flex.flex-nowrap.justify-content-between.header div#logo1 {
        display: none;
    }

    #menu ul {
        background: #1F568B;
        list-style-type: none;
        text-align: center;
        display: flex;
        padding: 0 !important;
    }

    .form-control {
        display: inline-block;
        width: 60%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    .col-8 {
        flex: 0 0 auto;
        width: 100%;
        display: contents;
    }

    .col-4 {
        display: none;
    }

    .post-name-detail {
        font-size: 20px;
    }

    .row.mb-3.post-all-detail {
        display: block;
        width: 100%;
    }

    .col-6 {
        flex: 0 0 auto;
        width: 100%;
        display: contents;
    }

    .header a {
        float: left;
        color: black;
        text-align: center;
        padding: 0;
        text-decoration: none;
        font-size: 18px;
        line-height: 0px;
        border-radius: 4px;
    }

    .sidebar-homepage {
        border: solid 1px;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 5px;
    }

    .post1-name a,
    .postall-name a {
        font-size: 16px;
    }

    .postall-content, .post1-content {
        font-size: 14px;
        text-align: justify;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 25px;
        -webkit-line-clamp: 3;
        height: 75px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }

    .col-5 .postall-home-thumbnail img {
        padding-left: 10px;
    }

    .post-detail1 {
        padding: 10px;
    }
}