
.col-3 .leftcolumn {
    border: solid;
    border-radius: 10px;
    padding: 10px;
    
}


.wrapper-sidebar {
    transform: translate(0, 0);
    transform: translate3d(0, 0, 0);
    will-change: position, transform;
}

.sidebar {
    will-change: min-height;
}

.sidebar .wrapper-sidebar .widget-tutorial-nav {
    background-color: #FFF;
    box-shadow: 0 0px 0px rgba(0,0,0,.12), 0 0px 1px rgba(0,0,0,.24);
    margin-bottom: 30px;
}

.nav-category .navbar-nav>li>a {
    padding-top: 9px;
    padding-bottom: 8px;
    font-weight: 400;
    font-size: 15px;
}

.nav-category .navbar-nav>li {
    float: none;
    border-bottom: 1px solid #dedede;
}

.nch-body {
    width: 100%;
}

.mdi-arrow-right-bold-circle::before {
    content: "\F056";
}

.mdi:before, .mdi-set {
    display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: inherit;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.sidebar .wrapper-sidebar .widget-tutorial-nav .widget-head .title a {
    text-decoration: none !important;
    color: #000;
}

.navbar-nav li a {
    color: #000;
}